.about-us__info {
    margin-left: 3px;
    width: 1048px;
    height: 366px;
    font-style: normal;
    font-size: 45px;
    line-height: 61px;
    color: #121212;
    margin-bottom: 30px;
}

.button-show {
    color: #FFFFFF;
    display: block;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 255px;
    height: 67px;
    background: #AD1818;
    border-radius: 5px;
    margin-bottom: 150px;
    cursor: pointer;
    border: none;
    border: 1px solid #AD1818;
}

.button-show:hover {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #AD1818;
    transition-duration: 0.75s;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

}

@media (max-width: 1199px) {

    .about-us__info {
        margin-left: 3px;
        width: 690px;
        height: 336px;
        font-size: 35px;
        line-height: 48px;
    }

    .button-show {
        margin-bottom: 120px;
    }
}

@media (max-width: 767px) {
    .about-us__info {
        margin-left: -1px;
        width: 100%;
        height: 100%;
        font-size: 22px;
        line-height: 30px;
    }

    .button-show {
        width: 100%;
        font-size: 16px;
        border-radius: 4px;
        margin-bottom: 80px;
        line-height: 51px;
        margin-bottom: 80px;
        height: 51px;
    }
}